* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Poppins" /*"Baloo 2"*/, sans-serif;
}

main {
  background-color: $color-fond;
  min-height: 100vh;
  //display: flex;
  //flex-direction: column-reverse;
  @include tab-version {
    padding-top: 20vw;
    padding-bottom: 2.5em;
  }
  @include desk-version {
    padding-top: 92px;
    padding-bottom: 5em;
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 2.5em;
  }
}

button {
  background-color: inherit;
  border-color: transparent;
  font-family: inherit;
}

h1 {
  //color: darken($color-primary, 50%);
  color: $color-secondary;
  margin-top: 0;
  padding-top: 1em;
  font-size: 1.9em;
  text-align: center;
}

.contenu-item {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 3vw;
  @media all and(min-width: $bkpt-big) {
    margin-right: 7.5vw;
    margin-left: 7.5vw;
  }
}

*:focus {
  border-radius: 5px;
  border: 2px darken($color-primary, 50%);
}

.contenu {
  animation: fadein 0.5s ease-in both;
}

.appeardelayed {
  ///animation entrée items de compétences et soft skills :
  animation-name: entreeitems;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
  @for $i from 2 through 15 {
    &:nth-child(#{$i}) {
      animation-delay: ($i) * 0.05s;
    }
  }
  /////
}

.strong {
  font-weight: bold;
}


@keyframes entreeitems {
  0% {
    transform: translateY(4vh);
    opacity: 0;
    animation-timing-function: ease-in;
  }
  50% {
    transform: translateY(2vh);
    opacity: 0.3;
    animation-timing-function: linear;
  }
  75% {
    transform: translateY(1vh);
    opacity: 0.5;
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

@keyframes fadein {
  0% {
    // transform: scale(0);
    opacity: 0;
  }
  100% {
    //transform: scale(1);
    opacity: 1;
  }
}
