* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins" /*"Baloo 2"*/, sans-serif;
}

main {
  min-height: 100vh;
  @include tab-version {
    padding-top: 20vw;
    padding-bottom: 5em;
  }
  @include desk-version {
    padding-top: 92px;
    padding-bottom: 5em;
  }
}

button {
  background-color: inherit;
  border-color: transparent;
  font-family: inherit;
}
