//expe__item--index : cf expeitem.scss

.bann {
  display: block;
  width:100%;
  height: 900vw;
  margin :0;
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 55%;
  border-bottom: darken($color-tertiary, 15%) solid 3px;
  @include tab-version {
    //height: 45vw;
  }
  @include desk-version {
    height: 100vw;
  }

  &-caption {
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color : $color-secondary;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-style: italic;
    font-weight: 500;
  }
  &-title{
    width: 100%;
    margin: 0;
    padding: 0.5em;
    color : $color-primary;
    //suite des modifs : dans pages.scss

    & .fa-paw,
    & .fa-stethoscope,
    & .fa-dog,
    & .fa-pen-nib,
    & .fa-trophy,
    & .fa-code,
    & .fa-camera {
      background-color: darken($color-primary, 50%);
      border-radius: 50%;
      font-size: 0.9em;
       padding: 0.4em;
       margin-right: 0.4em;
       margin-bottom: 0.2em;
      color: white;
       box-shadow: 1px 1px 3px lightgrey;

      }
  }


}

.bann--dev {
  background-image: url("/code-mob.jpg");
  //height: 68vw;
  @include desk-and-tab-version {
    background-image: url("/code.jpg");
  }
  @include tab-version {
    //height: 32vw;
  }
  @media all and(min-width: $bkpt-big) {
    //height: 20vw;
  }
}

.bann--veto {
  background-image: url("/vet-mob.jpg");
  @include tab-version {
    background-image: url("/vet-tab.jpg");
  }
  @include desk-version {
    background-image: url("/vet.jpg");
  }
  @media all and(min-width: $bkpt-big) {
    //height: 14vw;
    background-position-y: 35%;
  }
}

.bann--compet {
  background-image: url("/banncompet-mob.jpg");
  background-position-y: 19%;
  @include tab-version {
    background-image: url("/banncompet-tab.jpg");
  }
  @include desk-version {
    //background-image: url("/banncompet.jpg");
    background-image: url("/sportscanins.jpg");

  }
  @media all and(min-width: $bkpt-big) {
   // height: 14vw;
    background-position-y: 10%;
  }
}

.bann--elevage {
  background-image: url("/bannchiots-mob-old.jpg");
  @include tab-version {
    background-image: url("/bannchiots-tab-old.jpg");
  }
  @include desk-version {
    background-image: url("/bannchiots-old.jpg");
  }
  @media all and(min-width: $bkpt-big) {
   // height: 14vw;
  }
  background-position-y: 50%;
  background-position-x: 50%;
}

.bann--loisirs {
  background-image: url("/bannloisirs-mob.jpg");
  @include tab-version {
    background-image: url("/bannloisirs-tab.jpg");
  }
  @include desk-version {
    background-image: url("/bannloisirs.jpg");
  }
  @media all and(min-width: $bkpt-big) {
   // height: 14vw;
  }
  background-position-y: 75%;
  & p:last-child {
    border-radius: 0 0 10px 10px;
  }
}

.intro {
  margin-bottom: 2.5vw;
  margin-top: 2vw;
  text-align: justify;
  line-height: 1.5em;
  & ul{
    margin-top: 0;
    margin-bottom: 0;
  }
}

.intro a {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
  &:hover {
    text-decoration: underline;
  }
}

.titre--intro::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.15em;
  background: linear-gradient(to right, transparent 30%, $color-secondary, transparent 70%);
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-radius: 5px;
}
