.entete {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: -2px;

  & h1 {
    background-color: $color-fond;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-bottom: 0.1em;
    border-radius: 100px 100px 0 0;
    box-shadow: 0 0 15px $color-fond;
    //border-bottom: 2px dotted;
  }
}

.contenu h2 {
  color: darken($color-primary, 50%);
  font-size: 1.7em;
  &::after {
    content: "";
    display: block;
    width: 12em;
    @media all and (max-width: $bkpt-minimob) {
      width: 9em;
    }
    height: 0.15em;
    background: linear-gradient(
      to right,
      darken($color-primary, 50%),
      $color-fond
    );
    margin-top: 0.5em;
  }
}

.entete--code {
  background-image: url("/code-mob.jpg");
  @include desk-and-tab-version {
    background-image: url("/code.jpg");
  }
}
.entete--veto {
  background-image: url("/vet-mob.jpg");
  background-position: center 27%;
  @include tab-version {
    background-image: url("/vet-tab.jpg");
  }
  @include desk-version {
    background-image: url("/vet.jpg");
  }
}
.entete--elevage {
  background-image: url("/bannchiots-mob.jpg");
  //opacity: 0.9;
  @include tab-version {
    background-image: url("/bannchiots-tab.jpg");
  }
  @include desk-version {
    background-image: url("/bannchiots.jpg");
  }
}

.entete--competition {
  background-image: url("/banncompet-mob.jpg");
  background-position: center 6%;
  @include tab-version {
    background-image: url("/banncompet-tab.jpg");
  }
  @include desk-version {
    background-image: url("/banncompet.jpg");
  }
}

.entete--loisirs {
  background-image: url("/bannloisirs-mob.jpg");
  background-position: center 57%;
  @include tab-version {
    background-image: url("/bannloisirs-tab.jpg");
  }
  @include desk-version {
    background-image: url("/bannloisirs.jpg");
  }
}
.subtitle {
  color: darken($color-primary, 50%);
  text-align: center;
  margin-top: 0.5em;
  font-size: 1.3em;
}

.form__item {
  font-size: 1.1em;
  margin-bottom: 1em;
  & span {
    font-weight: bold;
  }
  & a {
    color: inherit;
    font-style: italic;
    color: rgb(68, 68, 68);

    &:hover {
      font-weight: 600;
    }
  }

  .bold {
    text-decoration: underline;
  }
}

.list-bis li {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}
