$bkpt-minimob: 370px;
$bkpt-mob: 767px;
$bkpt-tab: 1023px;
$bkpt-big: 1400px;

@mixin tab-version {
  @media all and (min-width: $bkpt-mob) and (max-width: $bkpt-tab) {
    @content;
  }
}

@mixin desk-and-tab-version {
  @media all and(min-width: $bkpt-mob) {
    @content;
  }
}

@mixin desk-version {
  @media all and(min-width: $bkpt-tab) {
    @content;
  }
}
