* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 100vh;
}
@media all and (min-width: 767px) and (max-width: 1023px) {
  main {
    padding-top: 20vw;
  }
}
@media all and (min-width: 1023px) {
  main {
    padding-top: 7vw;
  }
}

button {
  background-color: inherit;
  border-color: transparent;
  font-family: inherit;
}

.topbar {
  margin-top: 0;
  background-color: #c2e49c;
  height: 35vw;
  width: 100%;
  box-shadow: 0 0 8px grey;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media all and (min-width: 767px) and (max-width: 1023px) {
  .topbar {
    padding-top: 0.5em;
    height: 20vw;
    position: fixed;
    top: 0;
    display: block;
  }
}
@media all and (min-width: 1023px) {
  .topbar {
    height: 7vw;
    position: fixed;
    top: 0;
  }
}
.topbar a {
  text-decoration: none;
  color: inherit;
}
.topbar .fa-bars {
  font-size: 2.2em;
  margin-top: 0.2em;
}
.topbar .mobonly {
  font-size: 0.8em;
  text-align: center;
}
@media all and (min-width: 767px) {
  .topbar .mobonly {
    display: none;
  }
}
.topbar img {
  max-height: 30vw;
  width: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 5px grey;
  border: ridge 2px #c2e49c;
  margin-top: 1em;
}
@media all and (min-width: 767px) and (max-width: 1023px) {
  .topbar img {
    max-height: 13vw;
    margin-top: 0;
  }
}
@media all and (min-width: 1023px) {
  .topbar img {
    max-height: 6vw;
  }
}
.topbar img:hover {
  transform: scale(1.4);
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 1.2em;
}
@media all and (min-width: 767px) and (max-width: 1023px) {
  .logo {
    margin-bottom: 0.6em;
  }
}
.logo p {
  font-family: "Merienda One", cursive;
  font-weight: 600;
  font-size: 1.4em;
  margin-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}
@media all and (min-width: 1023px) {
  .logo p {
    margin-top: 1em;
    font-size: 1.3em;
  }
}

.nav {
  display: none;
}
@media all and (min-width: 767px) and (max-width: 1023px) {
  .nav {
    display: flex;
    justify-content: space-around;
  }
}
.nav .fas {
  font-size: 1.5em;
  margin-bottom: 0;
  margin-right: 0.5em;
}
@media all and (min-width: 767px) and (max-width: 1023px) {
  .nav .fas {
    margin-right: 0.2em;
  }
}
.nav a {
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  color: black;
  display: flex;
  margin-bottom: 0.9em;
}
@media all and (min-width: 767px) {
  .nav a {
    margin-bottom: 0;
  }
}
@media all and (min-width: 1023px) {
  .nav a {
    margin-left: 1.6em;
    opacity: 0.7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.nav a:hover {
  opacity: 1;
  transition: 0.3s;
}
.nav p {
  margin-top: 0.4em;
  margin-bottom: 0.1em;
}
.nav p:hover {
  text-decoration: underline;
  transition: all 0.3s;
}
@media all and (min-width: 1023px) {
  .nav {
    display: flex;
  }
}

.fa-times {
  transform: scale(2);
}

.closemenumob {
  font-weight: 800;
  position: absolute;
  right: 1vw;
  top: 11vw;
}

.menuappear {
  animation: appearmenu 0.4s ease-in-out both;
}

@keyframes appearmenu {
  0% {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
}
.expandtopbar {
  animation: expand 0.2s ease-in-out both;
}

@keyframes expand {
  0% {
    height: 35vw;
  }
  50% {
    height: 60vw;
  }
  100% {
    height: auto;
  }
}
.bottom {
  background-color: #c2e49c;
  width: 100%;
  height: 5vh;
}

/*# sourceMappingURL=style.css.map */
