.expe__list {
  @include desk-and-tab-version {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    & .expe__item {
      ///animation entrée items de compétences et soft skills :
      animation-name: fadein;
      animation-duration: 0.4s;
      animation-iteration-count: 1;
      //animation-fill-mode: both;
      animation-fill-mode: backwards;
      @for $i from 1 through 15 {
        &:nth-child(#{$i}) {
          animation-delay: ($i) * 0.2s;
        }
      }
      /////
    }
  }
}
.expe__item {
  padding: 0.5em;
  border-radius: 5px;
  background-color: white;
  //border: 1px ridge $color-primary;
  box-shadow: 0px 0px 3px darken($color-primary, 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  margin-top: 0.8em;
  @include desk-and-tab-version {
    width: 45%;
  }
  & a {
    text-decoration: none;
    color: /*rgb(68, 68, 68)*/ $color-secondary;
    font-style: italic;
    font-size: 1.1em;
    margin-top: 0.8em;
    margin-bottom: 0em;
    &:hover {
      text-decoration: underline;
    }
  }
  & p {
    margin-top: 0.4em;
    margin-bottom: 0em;
    text-align: center;
  }

}


.expe__item--index{
  padding: 0;
  height: 45vw;
  @include tab-version {
    height: 25vw;
    //margin-left: 10%;
   // width: 80%;
  }
  @include desk-version {
   // margin-left: 12.25%;
   // width: 75%;
    height: 25vw;
  }
  &:hover,
  &:focus {
    transform: scale(1.03);
    box-shadow: 2px 2px 8px grey;
    transition: 0.3s;
  }
/*&:nth-child(1){
  @include desk-version{
    margin-left: 0%;
  }

}
  &:nth-child(2){
    @include desk-version{
      margin-left: 8.3%;
    }

  }
  &:nth-child(3){
    @include desk-version{
      margin-left: 16.6%;
    }

  }
  &:nth-child(4){
    @include desk-version{
      margin-left: 25%;
    }

  }*/
}





.expe {
  &--title {
    font-weight: bold;
    font-size: 1.1em;
  }
  &--img {
    // max-width: 250px;
    // height: 50px;
    width: 100%;
    object-fit: cover;
    //object-position: center 10%;
    height: 35vw;
    cursor: pointer;
    @include tab-version {
      height: 18vw;
    }
    @include desk-version {
      height: 15vw;
    }
  }
}


.dev-icone {
  height: 40px;
  width: auto;
  margin-top: 0.8em;
}

.expe--link {
  font-weight: 800;
}

.expe--link::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: $color-secondary 1em solid;
  border-top: transparent 0.5em solid;
  border-bottom: transparent 0.5em solid;
  margin-right: 5px;
  vertical-align: middle;
}

.expe--perfs {
  padding-left: 0;
  & li {
    list-style: none;
    & .fa-medal {
      margin-right: 0.5em;
      margin-top: 0.25em;
      font-size: 1.3em;
      color: darken($color-primary, 45%);
    }
  }
}

.itemsolo {
  width: 100%;
  @include desk-version {
    width: 95%;
  }
}

.expe--elevage .expe--img {
  object-position: center 73%;
}

.expe--elevage .dev-icone {
  height: 70px;
  width: auto;
}

.chevres .expe--img {
  object-position: center 35%;
}
.coureurs .expe--img {
  object-position: center 58%;
}

.expe__item--dogdancing .expe--img {
  object-position: center 80%;
}

.troupeau .expe--img {
  object-position: 10% 60%;
}

.itemsolo .expe--img {
  object-position: center 90%;
  @include tab-version {
    height: 22vw;
  }
  @include desk-version {
    height: 12vw;
  }
}

.chiens .expe--img {
  @include desk-and-tab-version {
    object-position: center 60%;
  }
}

.maison .expe--img {
  object-position: center 75%;
}

.randos .expe--img {
  object-position: center 45%;
}

.itemescalade .expe--img {
  object-position: center 30%;
}

.itemgym .expe--img {
  object-position: center 25%;
}
