.expe__list {
  @include desk-and-tab-version {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.expe__item {
  padding: 0.5em;
  border-radius: 5px;
  background-color: white;
  //border: 1px ridge $color-primary;
  box-shadow: 0px 0px 3px darken($color-primary, 30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5em;
  margin-top: 0.8em;
  @include desk-and-tab-version {
    width: 45%;
  }
  & a {
    text-decoration: none;
    color: rgb(68, 68, 68);
    font-style: italic;
    font-size: 0.9em;
    margin-top: 0.4em;
    margin-bottom: 0em;
    &:hover {
      text-decoration: underline;
    }
  }
  & p {
    margin-top: 0.4em;
    margin-bottom: 0em;
    text-align: center;
  }
}

.expe {
  &--title {
    font-weight: bold;
    font-size: 1.1em;
  }
  &--img {
    // max-width: 250px;
    // height: 50px;
    width: 100%;
    object-fit: cover;
    object-position: center 10%;
    height: 35vw;
    cursor: pointer;
    @include tab-version {
      height: 18vw;
    }
    @include desk-version {
      height: 10vw;
    }
  }
}

.dev-icone {
  height: 40px;
  width: auto;
  margin-top: 0.4em;
}

.expe--link::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: black 7px solid;
  border-top: transparent 7px solid;
  border-bottom: transparent 7px solid;
  margin-right: 5px;
  vertical-align: middle;
}

.expe--perfs {
  padding-left: 0;
  & li {
    list-style: none;
    & .fa-medal {
      margin-right: 0.5em;
      margin-top: 0.25em;
      font-size: 1.3em;
      color: darken($color-primary, 45%);
    }
  }
}

.itemsolo {
  width: 100%;
  @include desk-version {
    width: 95%;
  }
}

.expe--elevage .expe--img {
  object-position: center 73%;
}

.expe--elevage .dev-icone {
  height: 70px;
  width: auto;
}

.chevres .expe--img {
  object-position: center 35%;
}
.coureurs .expe--img {
  object-position: center 58%;
}
.itemsolo .expe--img {
  object-position: center 90%;
}

.maison .expe--img {
  object-position: center 75%;
}

.randos .expe--img {
  object-position: center 45%;
}
