.bottom {
  background-color: $color-primary;
  box-shadow: 0 0 8px grey;
  width: 100%;
  height: 9em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5em;
  @include desk-and-tab-version {
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
  }
  @include tab-version {
    font-size: 0.9em;
  }
  @include desk-version {
    font-size: 1.1em;
  }
  & a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    opacity: 0.7;
    &:hover {
      border-bottom: 3px solid black;
      opacity: 1;
      //font-weight: 800;
      transition: all 0.4s;
    }
  }
  & p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
  }
  & .fas,
  & .fab {
    font-size: 1.3em;
    margin-right: 0.3em;
    &:hover {
      transform: scale(1.5);
      transition: 0.3s;
    }
  }
}
